{% extends "base.html" %}
{% block title %}
Exchange
{% endblock %}

{% block content %}
<h2 class="offset-md-1 mt-4"> New order </h2>
<form id="exchange_form2" class="row row-cols-lg-auto g-3 align-items-center offset-md-1 " action="{{url_for('exchange.exchange')}}" method="POST">

  {{ form.hidden_tag() }}


  <div class="col-12">
    <label for="currency" class="form-label">Currency</label>
    {{ form.currency(class="form-select", id="currency") }}
    <ul>
      {% for error in form.currency.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

    <div class="col-12">
    <label for="amount" class="form-label">Amount</label>
    {{ form.amount(class="form-control", id="amount") }}
    <ul>
      {% for error in form.amount.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-12">
    <label for="other_currency" class="form-label">Other Currency</label>
    {{ form.other_currency(class="form-select", id="other_currency") }}
    <ul>
      {% for error in form.other_currency.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
