<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantor</title>
</head>
<body>
    <h1> Wybrałeś walutę {{ currency }} w ilości {{ amount }} i wymieniasz ją na {{ other }}'</h1>
    {% if currency == 'USD' %}
        <img src="{{ url_for('static', filename='dollaro.jpg') }}">
    {% elif currency == 'EUR' %}
        <img src="{{ url_for('static', filename='euro.jpg') }}">
    {% elif currency == 'PLN' %}
        <img src="{{ url_for('static', filename='zloty.jpg') }}">
    {% endif %}
</body>
</html>