<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantor1</title>
</head>
<body>
    <form id='cook_form' action="{{ url_for('cook_form') }}" method='POST'>
        <label for='note'>What is your note for the receipt?</label>
        <select id='note' name='note'>
            <option value='5'>The best</option>
            <option value='4'>Good</option>
            <option value='3'>Its OK</option>
            <option value='2'>Could be better</option>
            <option value='1'>Its not good</option>
        </select></br>
    <label for='comment'>What is your comment?</label>
        <input type='text' id='comment' name='comment'></br></br>
        <label for='decision'>Would you cook it for your family?</label>
        <input type='checkbox' id='decision' name='decision'></br></br>
    <input type='submit' value='share my feedback'>
    </form>
</body>
</html>