<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="exchange_form" action="{{url_for('exchange')}}" method="POST">
        <label for="currency">Currency</label>
            <select id="currency" name="currency">
                <option value="EUR">Euro</option>
                <option value="USD">Dolar</option>
                <option value="PLN">Złotówka</option>
            </select>
        <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount" value="99"><br>
        <label for="other_currency">Other_currency</label>
            <select id="other_currency" name="other_currency">
                <option value="EUR">Euro</option>
                <option value="USD">Dolar</option>
                <option value="PLN">Złotówka</option>
            </select>


        <input type="submit" value="Send">
    </form>
</body>
</html>